<div class="topbar">
    <button id="create-ticket-btn" class="topbar-button">Create New Ticket</button>

    <div class="user-profile">
        <img src="/assets/images/pfp.jpg" alt="User Profile" class="profile-pic" id="profile-pic">
        <div class="dropdown-menu" id="user-dropdown">
            <div class="dropdown-header">
                <p class="user-name">John Doe</p>
                <p class="user-email">john.doe@example.com</p>
            </div>
            <hr>
            <a href="#" class="dropdown-item">Logout</a>
        </div>
    </div>
    <p class="main-menu-username">John Doe</p>
</div>